server {
    listen       8080;
    server_name  localhost;

    # Sirve la aplicación React (SPA)
    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # Proxy para el Backend de Ventas
    location /api/ventas/ {
        proxy_pass http://${BACKEND_VENTAS_HOST}:${BACKEND_VENTAS_PORT}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # Proxy para el Backend de Despachos
    location /api/despachos/ {
        proxy_pass http://${BACKEND_DESPACHOS_HOST}:${BACKEND_DESPACHOS_PORT}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
